.login-wrap {
    width: 300px;
    border: 1px solid #d1d1d1;
    margin: 0 auto;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}