.login-wrap {
    width: 450px;
    border: 1px solid #d1d1d1;
    margin: 0% auto 0;
    border-radius: 2px;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}