.btn-wrap,.logo-wrap,.panel-wrap h3,.panel-wrap p,.tabs-wrap li{text-align:center}
.login-wrap{max-width:450px;width:90%;border:1px solid #d1d1d1;margin:0 auto;border-radius:2px;background:#fff;position:fixed;left:0;right:0;top:50%;transform:translateY(-50%)}
.tabs-wrap{margin:0;padding:0;border-bottom:1px solid #e4e5e6}
.tabs-wrap li{list-style:none;width:50%;float:left}
.tabs-wrap li h2{margin:0;color:#737373;padding-top:15px;font-size:20px;padding-bottom:15px;cursor:pointer}
.tabs-wrap li:last-child h2{border-left:1px solid #d1d1d1}
.logo-wrap{padding-top:17px;border-bottom:1px solid #d1d1d1;padding-bottom:12px}
.active{background:rgba(0, 167, 232, 0.05)}
.panel-wrap h3{color:#737373;padding-top:13px;font-size:15px;padding-bottom:5px}
.panel-wrap p{font-size:13px;padding-bottom:5px}
.button,.field-wrap .fa{cursor:pointer;font-size:14px}
.field-wrap input{border:0 solid #d1d1d1;border-bottom:1px solid #d1d1d1;width:100%;margin-bottom:10px;padding-bottom:5px;height:40px}
.clearfix{display:block}
.form-wrap{width:80%;margin:3% auto 6%}
.btn-wrap{margin-top:10px}
.button{background:#1b468c;color:#fff;border:none;padding:10px 28px;border-radius:3px;margin:0 auto}
.field-wrap{position:relative}
.field-wrap .fa{position:absolute;right:0;top:10px;color:#737373}
.fa-key{transform:rotateZ(135deg)}
.sign-in{padding-top:30px;padding-bottom:30px}
.hide{display:none}
.show{display:block}