.tabs-wrap {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e4e5e6;
}
.tabs-wrap li {
    list-style: none;
    width: 50%;
    float: left;
    text-align: center;
}
.tabs-wrap li h2 {
    margin: 0 0 0px 0px;
    color: #737373;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
}