.tabs-wrap {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e4e5e6;
}
.tabs-wrap li {
    list-style: none;
    width: 50%;
    float: left;
    text-align: center;
}
.tabs-wrap li h2 {
    margin: 0 0 0px 0px;
    color: #737373;
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 15px;
    cursor: pointer;
}
.tabs-wrap li:last-child h2{
    border-left:1px solid #d1d1d1;
}
.logo-wrap{
    text-align: center;
    padding-top: 17px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 12px;
}
.active{
    background: rgba(0, 48, 133, 0.28);
}