.side-nav {
    width: 19%;
    float: left;
    height: 100vh;
    border-right: 1px solid #e4e5e6;
}

.tab-header{
    display: block;
        background: #fff;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px dotted #d1d1d1;
    font-size: 15px;
    color: #1b468c;
}
.tab-items {
    display:block;
}

.tab-items li {
display: block;
    background: rgba(31, 147, 191, 0.04);
    padding: 5px 10px 5px 40px;
    border-bottom: 1px dotted #d1d1d1;
    font-size: 13px;
    color: #151515;
}

.tab-header .fa{
color:#1b468c;
float:right;
}

.filter-option {
display: block;
    background:rgba(148, 189, 255, 0.07);
    padding: 11px 10px 12px 39px;
    font-size: 15px;
    color:#46c1ef;
    text-align: center;
}

.filter-option li {
    display:inline-block;
    margin-right:10px;
    cursor:pointer;
}

.filter-option li span {
    color:#46c1ef;
    cursor: pointer;
}

.filter-option li span.avail-txt{
    color: #7c8084 ;
    margin-left:10px;
    cursor: pointer;
}

.filter-option li span.avail-txt.active{
    color:#1b468c;
}

.filter-option li input{
 opacity:0;
}

.hide{display:none;}
.show{display:block;}